.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.item__image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.item__info {
    display: flex;
    flex-direction: column;
}

.item__title {
    margin-top: 12px;
}

.item__free-shipping {
    margin-left: 5px;
}