@import './breakpoint.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

:root {
  --primary-color: #ffe600;
  --primary-background-color: #eee;
  --secondary-background-color: #fff;
  --text-color: #343a40;
  --link-color: #3483fa;
}

@include breakpoint('md') {
  .container {
    padding: 0 15px;
  }
}

@include breakpoint('sm') {
  .container {
    padding: 0 15px;
  }
}

@include breakpoint('xs') {
  .container {
    padding: 0 15px;
  }
}

