.search {
  width: 100%;
  height: 40px;
  background-color: var(--search-bg-color);
  display: flex;
  margin-left: 32px;
}

.search__input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: none;
  height: 35px;
  padding: 0 15px;
}

.search__button {
  width: 35px;
  height: 35px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0 4px 4px 0;

}

.search__button-icon {
  display: block;
  line-height: 35px;
  margin: 0 auto;
}

