* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --primary-color: #ffe600;     /* Uma cor primária geral */
  --secondary-color: #6c757d;   /* Uma cor secundária geral */
  --accent-color: #ffc107;      /* Uma cor de destaque ou de acentuação */
  --background-color: #f8f9fa;  /* Cor de fundo geral */
  --text-color: #343a40;        /* Cor de texto principal */
  --link-color: #3483fa;        /* Cor de links */
}

